{% extends "base.html" %}

{% block title %}Гастро-уголок ▶ О cookie{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('styles', path='policy.css') }}">
{% endblock %}

{% block content %}
<div class="content-block">
    <h1>Политика использования файлов cookie</h1>
    <p class="date">Обновлено: <em>29.10.2024</em></p>

    <p>
        Настоящая Политика использования файлов cookie объясняет, что такое файлы cookie, как и почему мы их используем, а также как вы можете управлять своими предпочтениями в отношении файлов cookie.
    </p>

    <h2>1. Что такое файлы cookie?</h2>
    <p>
        Файлы cookie — это небольшие текстовые файлы, которые сохраняются на вашем устройстве (компьютере, планшете или смартфоне) при посещении веб-сайта. Они используются для того, чтобы сайт работал корректно, а также чтобы предоставлять информацию владельцам сайта.
    </p>

    <h2>2. Как мы используем файлы cookie</h2>
    <p>Мы используем файлы cookie для различных целей:</p>
    <ul>
        <li><strong>Строго необходимые файлы cookie</strong>: Они необходимы для правильной работы нашего сайта. Без них некоторые части сайта могут не функционировать.</li>
        <li><strong>Функциональные файлы cookie</strong>: Позволяют запоминать ваши выборы (например, язык или регион) и предоставлять более персонализированные возможности.</li>
        <li><strong>Аналитические файлы cookie</strong>: Сбор информации о том, как посетители используют наш сайт, чтобы улучшать его функциональность и производительность.</li>
    </ul>

    <h2>3. Управление файлами cookie</h2>
    <p>Вы можете контролировать и управлять файлами cookie различными способами:</p>
    <ul>
        <li><strong>Настройки браузера</strong>: Большинство веб-браузеров позволяют контролировать файлы cookie через настройки. Вы можете настроить браузер на отказ от файлов cookie или удаление существующих.</li>
    </ul>
    <p>
        Обратите внимание, что блокировка или удаление файлов cookie может повлиять на функциональность нашего сайта и ограничить ваш доступ к некоторым его частям.
    </p>

    <h2>4. Изменения в Политике использования файлов cookie</h2>
    <p>
        Мы можем периодически обновлять данную политику, чтобы отражать изменения в технологиях или законодательстве.
    </p>

    <h2>6. Контактная информация</h2>
    <p>
        Если у вас есть вопросы или комментарии по поводу данной Политики использования файлов cookie, пожалуйста, свяжитесь с нами:
    </p>
    <ul>
        <li><strong>Электронная почта</strong>: <a href="mailto:info@gastrougolok.ru">info@gastrougolok.ru</a></li>
    </ul>
</div>
{% endblock %}
